.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-items: center;
    margin-top: 5%;
}

.box {
    height: 250px;
    width: 250px;
    box-shadow: 1px 1px 10px #0c51a0;
    display: grid;
}