.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
    justify-items: center;
    margin-top: 0%;
}

.box {
   
    box-shadow: 1px 1px 10px #0c51a0;
    
}