.toolbar-position{
    position: absolute;
    top: -3.3rem;
}

.public-DraftStyleDefault-ltr span span {
    white-space: nowrap ;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(252, 252, 252);
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }